## api
# Ignore bundler config.
/api/.bundle

# Ignore all logfiles and tempfiles.
/api/log/*
/api/tmp/*
!/api/log/.keep
!/api/tmp/.keep

# Ignore pidfiles, but keep the directory.
/api/tmp/pids/*
!/api/tmp/pids/
!/api/tmp/pids/.keep

# Ignore uploaded files in development.
/api/storage/*
!/api/storage/.keep
/api/.byebug_history

# Ignore master key for decrypting credentials and more.
/api/config/master.key

# Ignore schema
/api/db/schema.rb

##db
# Ignore db/data, but keep the directory
/db/data/*
/db/production/*

## front
# dependencies
/front/app/node_modules
/front/app/.pnp
/front/app/.pnp.js

# testing
/front/app/coverage

# production
/front/app/build

# misc
/front/app/.DS_Store
/front/app/.env.local
/front/app/.env.development.local
/front/app/.env.test.local
/front/app/.env.production.local

/front/app/npm-debug.log*
/front/app/yarn-debug.log*
/front/app/yarn-error.log*

/front/app/.eslintcache

## editor
.vscode
